<h4>Change Password</h4>
<form>
    <div class="form-group row">
        <label class="col-2 col-form-label" for="password1">Old Password</label>
        <div class="col-10">
            <input type="password" name="password1" id="password1" [(ngModel)]="ch_oldPwd" required>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label" for="newpassword">New Password</label>
        <div class="col-10">
            <input type="password" name="newpassword" [(ngModel)]="ch_newPwd" required>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Cofirm Password</label>
        <div class="col-10">
            <input type="password" name="confirmedpassword" [(ngModel)]="ch_confirmPassword" required>
        </div>
    </div>
    <div class="form-group row">
        <button (click)="changePassword()" class="btn btn-primary" [disabled]="sendingRequest">Test Token</button>
        <br><br>
        <p class="text-success" *ngIf="bulkPasswordChangeResponse">{{bulkPasswordChangeResponse}}</p>

        <ul class="text-danger" *ngFor="let error of allErrors">
            <li *ngIf="error != ''">{{error}}</li>
        </ul>

    </div>
</form>